@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">R.W.M Web</h1>
    <p>Sejam todos <a href="https://docs.microsoft.com/aspnet/core">Bem-Vindos(a) a Sua Biblioteca Virtual</a>.</p>
</div>
